<!DOCTYPE html>
<html lang="zh-CN">
{% extends 'base.html' %}
<!-- 加载static目录 -->
{% load static %}

<head>
    {% block title %}
    <title>邢为栋的小站</title>
    {% endblock %}

    {% block extra %}
    {% endblock %}
</head>

<body>

{% block content %}
<!-- first -->
<div class="content" style="background-image: url({% static 'tinysite/images/bg-first.png' %});">
    <div class="container first">
        <div class="row">
            <nav class="col-xs-12">
                <p><span>心无界 行无疆</span></p>
            </nav>
        </div>
        <div class="row">
            <nav class="col-xs-12" style="font-size: 20px; padding: 50px 0 0">
                <p style="text-indent: 8%;">你好，我是邢为栋</p>
                <p style="text-indent: 12%;">欢迎来到我的小站</p>
            </nav>
        </div>
    </div>
</div>
<div class="jumbotron" style="margin-bottom:0">
    <div class="container txt">
        <div class="row">
            <nav class="col-xs-4">
                <h1>关于小站</h1>
            </nav>
            <nav class="col-xs-8">
                <p>小站建设是为了学以致用，同时将所学所得编写成学习笔记和经验，发布到小站，希望可以对光临小站的朋友有所帮助。</p>
                <p>小站并非专业的教学网站，站内内容仅供参考。</p>
                <p>愿与君共勉！</p>
            </nav>
        </div>
    </div>
</div>
<!-- second -->
<div class="content" style="background-image: url({% static 'tinysite/images/bg-second.png' %});">
    <div class="container second">
        <div class="row">
            <nav class="col-xs-12">
                <p style="text-indent: -12%;">淡泊以明志</p>
                <p style="text-indent: 12%;">宁静以致远</p>
            </nav>
        </div>
    </div>
</div>
<div class="jumbotron" style="margin-bottom:0">
    <div class="container txt">
        <div class="row">
            <nav class="col-xs-4">
                <h1>明心见性</h1>
            </nav>
            <nav class="col-xs-8">
                <p>追逐的心只看到前方</p>
                <p style="text-indent: 5%;">淡然的心可看到万物</p>
            </nav>
        </div>
    </div>
</div>
<!-- third -->
<div class="content" style="background-image: url({% static 'tinysite/images/bg-third.png' %});">
    <div class="container third">
        <div class="row">
            <nav class="col-xs-12">
                <p>水利万物而不争</p>
            </nav>
        </div>
    </div>
</div>
<div class="jumbotron" style="margin-bottom:0">
    <div class="container txt">
        <div class="row">
            <nav class="col-xs-4">
                <h1>上善若水</h1>
            </nav>
            <nav class="col-xs-8">
                <p>至善至柔，无争无为</p>
                <p style="text-indent: 5%;">心如止水，方可逍遥自在</p>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

</body>

</html>